<html>
<h1>Demo</h1>

<div>
    <div>{{ .message }}</div>
    <div>{{ .address }}</div>
    <div>{{ .temperature }}</div>
    <div>{{ .windSpeed }}</div>
    <div>{{ .weatherSymbol }}</div>
</div>

</html>
